<h1>Tour</h1>

<h3>West coast fall 2017</h3>

<li class="tour">Seattle september 23</li>
<li class="tour">Vancouver september 29</li>
<li class="tour">Portland</li>
<li class="tour">San Francisco</li>
<li class="tour">Los Angeles</li>